<?xml version="1.0"?>
<launch>
 
  <rosparam command="load" file="$(find application_navigation)/params/blue_auto_online.yaml" />
  
  <!-- select your robot -->
  <include file="$(find robot_blue)/launch/start_indoor_nodes.launch" />
  <include file="$(find velocity_recommender)/launch/start_all_reactives.launch" />
  <include file="$(find ackermann_to_odom)/launch/start_odometry.launch" />

  <node name="control_demo" pkg="control_demo" type="control_demo" output="screen" >
    <!-- select your pose node -->
    <remap from="amcl_pose" to="odometry_pose"/>
    <rosparam command="load" file="$(find robot_blue)/params/sscontrol_params.yaml" />
  </node>
  
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find application_navigation)/rviz/blue_auto.rviz" />
  
</launch>
