<?xml version="1.0"?>
<launch>
 
  <rosparam command="load" file="$(find application_navigation)/params/blue_auto_offline.yaml" />

  <node name="path_planning_demo" pkg="path_planning_demo" type="path_planning_demo" output="screen" />

  <node name="control_demo" pkg="control_demo" type="control_demo" output="screen" >
    <!-- select your pose node -->
    <!-- <remap from="amcl_pose" to="odometry_pose"/> -->
    <rosparam command="load" file="$(find robot_blue)/params/sscontrol_params.yaml" />
  </node>
  
</launch>
